.mw-bs {
    .offline {
        background: transparent;
        bottom: 0;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2000;

        & > .btn {
            bottom: 1em;
            left: 1em;
            pointer-events: initial;
            position: absolute;

            & > .glyphicon {
                margin-right: 0.5em;
            }
        }

        & > .offline-status {
            background: rgba(192, 192, 192, 0.5);
            bottom: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            left: 0;
            pointer-events: initial;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;

            & > .panel {
                align-self: center;
                display: flex;
                flex-direction: column;
                max-height: 80vh;
                width: 50%;

                & > .panel-body {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                }
            }

            .offline-progress,
            .offline-error {
                text-align: center;
            }
        }
    }
}
